<!DOCTYPE html>
<html lang="en">

<head>
  <%- include('../include/head.html', {}) %>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title><%= title %></title>

<!-- Bootstrap core CSS-->
<link href="/sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template-->
<link href="/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<!-- Custom styles for this template-->
<link href="/sb-admin/css/sb-admin.css" rel="stylesheet">

<!-- Bootstrap core JavaScript-->
<script src="/sb-admin/vendor/jquery/jquery.min.js"></script>
<script src="/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<script>
    let userId = '<%= userId %>';
    $(function() {
        "use strict"; // Start of use strict    
        getAjaxMethod('/kyc/detail/info/' + userId, renderDetail);
    });

    function renderDetail(data) {
        console.log(data);
        $('#userTag').val(data.data.user.userTag);
        $('#verification').val(data.data.kyc.verification);
        $('#verificationDate').val(data.data.kyc.verificationDate == undefined ? "" : data.data.kyc.verificationDate.substr(2));
        $('#userTag').val(data.data.user.userTag);
        $('#firstName').val(data.data.kyc.lastName);
        $('#lastName').val(data.data.kyc.firstName);
        $('#middleName').val(data.data.kyc.middleName);
        $('#gender').val(data.data.kyc.gender);
        $('#birth').val(data.data.kyc.birth);
        $('#type').val(data.data.kyc.type);
        $('#idNo').val(data.data.kyc.idNo);
        $('#issueDate').val(data.data.kyc.issueDate);
        $('#content').val(data.data.kyc.reason == undefined ? "" : data.data.kyc.reason);
        $('#uploadImage').prop('src',data.data.kyc.images[0].path);
    }

    function modify(value) {
        let updateForm = {};
        let verification = false;

        if(value == "accept") {
          verification = true;
        }

        if(value == 'reject' && $('#content').val() == "") {
            alert("사유를 입력해주세요.");
            return;
        }

        updateForm = {
          "verification": verification,
          "reason": $('#content').val()
        };

        putAjaxMethod('/kyc/' + userId, updateForm, resultCall);
    }

    function resultCall (result) {
      history.back(-1);
    }
</script>
<style>
.menu-container {
  background-color: #212529;
}
.container {
  margin-bottom: 16px;
}
.card-register {
  max-width: 100%;
}
.col-md-6 {
  max-width: 33.333%;
}
.card-body::after {
  content:"";
  display: block;
  clear: both;
}
.card-body > .img-wrap, .card-body > form {
  float: left;
}
</style>
</head>

<body id="page-top">
    <%- include('../include/header.html', {}) %>

<div id="wrapper">
    <div class="menu-container">
        <%- include('../include/sidebar.html', {}) %>
    </div>

    <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">KYC</a>
                    </li>
                    <li class="breadcrumb-item active">목록</li>
                </ol>
                <!-- 컨텐츠 -->
                <div class="container">
                    <div class="card card-register mx-auto">
                      <div class="card-header">KYC 인증요청</div>
                      <div class="card-body">
                        <div class="img-wrap" style="width: 49%; margin-right: 2%;">
                            <img id="uploadImage" src="" alt="" style="display: inline-block; width: 100%;">
                        </div>
                        <form style="width: 49%;">
                          <div class="form-group">
                            <div class="form-row">
                              <div class="col-md-6">
                                <div class="form-label-group">
                                  <input type="text" id="userTag" class="form-control" placeholder="" required="" readonly>
                                  <label for="userTag">MacketMACH ID</label>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-label-group">
                                  <input type="text" id="verification" class="form-control" placeholder="" required="" readonly>
                                  <label for="verification">Verification</label>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-label-group">
                                  <input type="text" id="verificationDate" class="form-control" placeholder="" required="" readonly>
                                  <label for="verificationDate">Verification Date</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-row">
                              <div class="col-md-6">
                                <div class="form-label-group">
                                  <input type="text" id="firstName" class="form-control" placeholder="" required="required" readonly>
                                  <label for="firstName">First Name</label>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-label-group">
                                  <input type="text" id="lastName" class="form-control" placeholder="" required="required" readonly>
                                  <label for="lastName">Surname</label>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-label-group">
                                  <input type="text" id="middleName" class="form-control" placeholder="" required="required" readonly>
                                  <label for="middleName">Middle Name</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-row">
                              <div class="col-md-6" style="max-width: 50%;">
                                <div class="form-label-group">
                                  <input type="text" id="gender" class="form-control" placeholder="" required="required" readonly>
                                  <label for="gender">Sex</label>
                                </div>
                              </div>
                              <div class="col-md-6" style="max-width: 50%;">
                                <div class="form-label-group">
                                  <input type="text" id="birth" class="form-control" placeholder="" required="required" readonly>
                                  <label for="birth">Date of birth</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="form-row">
                                <div class="col-md-6">
                                  <div class="form-label-group">
                                    <input type="text" id="type" class="form-control" placeholder="" required="required" readonly>
                                    <label for="type">Type</label>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-label-group">
                                    <input type="text" id="idNo" class="form-control" placeholder="" required="required" readonly>
                                    <label for="idNo">No.</label>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-label-group">
                                    <input type="text" id="issueDate" class="form-control" placeholder="" required="required" readonly>
                                    <label for="issueDate">Issue Date</label>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="form-group c-board">
                            <div class="form-row">
                                <textarea id="content" class="form-control" style="width: 100%; height: 150px; resize: none;" placeholder="사유"></textarea>
                                <!-- <div id="communityContent"></div> -->
                            </div>
                          </div>
                          <a class="btn btn-primary" href="javascript:modify('accept');" style="width: 49%; margin-right:2%;">승인</a><a class="btn btn-danger" href="javascript:modify('reject');" style="width: 49%;">거절</a>
                        </form>
                      </div>
                    </div>
                  </div>
                <!--// 컨텐츠 -->
            </div>
            <!-- /.container-fluid -->
    
            <!-- Sticky Footer -->
            <div class="footer-container">
                <%- include('../include/footer.html', {}) %>
            </div>
    
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <div class="footer-container">
            <%- include('../include/footer.html', {}) %>
        </div>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Logout Modal-->
<%- include('../include/modal_logout.html', {}) %>
</body>
</html>


