<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="description" content="">
<meta name="author" content="">

<title><%= title %></title>

<!-- Bootstrap core CSS-->
<link href="/sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

<!-- Custom fonts for this template-->
<link href="/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

<!-- Custom styles for this template-->
<link href="/sb-admin/css/sb-admin.css" rel="stylesheet">

<!-- Bootstrap core JavaScript-->
<script src="/sb-admin/vendor/jquery/jquery.min.js"></script>
<script src="/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Core plugin JavaScript-->
<script src="/sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- <script>
    $(function() {
        "use strict"; // Start of use strict
        let kycId = '<%# kycId %>';
        let country = $('#country').val();
        console.log(kycId);
        getAjaxMethod('/community/detail/info/' + country + '/' + kycId, renderDetail);
    });

    function renderDetail(data) {
        console.log(data);
        $('#worker').val(data.data.reporter);
        $('#regDate').val(data.data.regDate);
        $('#communityTitle').val(data.data.title);
        $('#communityContent').val(data.data.content);
        $('#kycId').val(data.data._id);
        $('#communityType').val(data.data.type);
        $('#communityURL').val(data.data.movieUrl);
        $('.upload-name').val(data.data.images[0].origin_name);
    }

    function modifyCommunity() {
        let communityType = $('#communityType').val();
        let updateForm = {};
        if($('#communityTitle').val() == "") {
            alert("Title을 입력해주세여.");
            return;
        }

        if($('#communityContent').val() == "") {
            alert("Content을 입력해주세여.");
            return;
        }

        updateForm = {
            "country":$('#country').val(),
            "id": $('#kycId').val(),
            "type":$('#communityType').val(),
            "title": $('#communityTitle').val(),
            "content" : $('#communityContent').val(),
            "movieUrl" : $('#communityURL').val()
        };

        console.log(updateForm);

        putAjaxMethod('/community/' + updateForm.id, updateForm, resultCall);
    }

    function resultCall (result) {
      let image = new FormData();
      let imageData = $("#upload_filename")[0].files[0];
      
      if (imageData != null) {
        image.append("image", $("#upload_filename")[0].files[0]);
        imageAjaxMethod('/community/' + $('#country').val() + '/' + result.data._id+ "/images", image, resultImageCallback); 
      } else {
        search('crud');
      }
    }

    function resultImageCallback (result) {
      console.log('수정완료');
      search('crud');
    }
</script> -->
<style>
.menu-container {
  background-color: #212529;
}
.container {
  margin-bottom: 16px;
}
.card-register {
  max-width: 100%;
}
.col-md-6 {
  max-width: 33.333%;
}
.card-body::after {
  content:"";
  display: block;
  clear: both;
}
.card-body > .img-wrap, .card-body > form {
  float: left;
}
</style>
</head>

<body id="page-top">
    <%- include('../include/header.html', {}) %>

<div id="wrapper">
    <div class="menu-container">
        <%- include('../include/sidebar.html', {}) %>
    </div>

    <div id="content-wrapper">

            <div class="container-fluid">

                <!-- Breadcrumbs-->
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="#">KYC</a>
                    </li>
                    <li class="breadcrumb-item active">목록</li>
                </ol>
                <!-- 컨텐츠 -->
                <div class="container">
                    <div class="card card-register mx-auto">
                      <div class="card-header">KYC 인증요청</div>
                      <div class="card-body">
                        <div class="img-wrap" style="width: 49%; margin-right: 2%;">
                            <img src="https://www.women1366.kr/stopds/img/sub04_icon25.png" alt="" style="display: inline-block; width: 100%;">
                        </div>
                        <form style="width: 49%;">
                          <div class="form-group">
                            <div class="form-row">
                              <div class="col-md-6">
                                <div class="form-label-group">
                                  <input type="text" id="" class="form-control" placeholder="" required="required" readonly>
                                  <label for="">First Name</label>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-label-group">
                                  <input type="email" id="" class="form-control" placeholder="" required="required" readonly>
                                  <label for="">Surname</label>
                                </div>
                              </div>
                              <div class="col-md-6">
                                <div class="form-label-group">
                                  <input type="email" id="" class="form-control" placeholder="" required="required" readonly>
                                  <label for="">Middle Name</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                            <div class="form-row">
                              <div class="col-md-6" style="max-width: 50%;">
                                <div class="form-label-group">
                                  <input type="text" id="" class="form-control" placeholder="" required="required" readonly>
                                  <label for="">Sex</label>
                                </div>
                              </div>
                              <div class="col-md-6" style="max-width: 50%;">
                                <div class="form-label-group">
                                  <input type="email" id="" class="form-control" placeholder="" required="required" readonly>
                                  <label for="">Date of birth</label>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="form-group">
                              <div class="form-row">
                                <div class="col-md-6">
                                  <div class="form-label-group">
                                    <input type="text" id="" class="form-control" placeholder="" required="required" readonly>
                                    <label for="">Type</label>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-label-group">
                                    <input type="email" id="" class="form-control" placeholder="" required="required" readonly>
                                    <label for="">No.</label>
                                  </div>
                                </div>
                                <div class="col-md-6">
                                  <div class="form-label-group">
                                    <input type="email" id="" class="form-control" placeholder="" required="required" readonly>
                                    <label for="">Issue Date</label>
                                  </div>
                                </div>
                              </div>
                          </div>
                          <div class="form-group c-board">
                            <div class="form-row">
                                <textarea id="communityContent" class="form-control" style="width: 100%; height: 150px; resize: none;" placeholder="Content"></textarea>
                                <!-- <div id="communityContent"></div> -->
                            </div>
                          </div>
                          <a class="btn btn-primary" href="javascript:admission();" style="width: 49%; margin-right:2%;">승인</a><a class="btn btn-danger" href="javascript:reject();" style="width: 49%;">거절</a>
                        </form>
                      </div>
                    </div>
                  </div>
                <!--// 컨텐츠 -->
            </div>
            <!-- /.container-fluid -->
    
            <!-- Sticky Footer -->
            <div class="footer-container">
                <%- include('../include/footer.html', {}) %>
            </div>
    
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <div class="footer-container">
            <%- include('../include/footer.html', {}) %>
        </div>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Logout Modal-->
<%- include('../include/modal_logout.html', {}) %>
</body>
</html>


