<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>

    <!-- Bootstrap core CSS-->
    <link href="/sb-admin/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template-->
    <link href="/sb-admin/vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">

    <!-- Custom styles for this template-->
    <link href="/sb-admin/css/sb-admin.css" rel="stylesheet">

    <!-- Bootstrap core JavaScript-->
    <script src="/sb-admin/vendor/jquery/jquery.min.js"></script>
    <script src="/sb-admin/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="/sb-admin/vendor/jquery-easing/jquery.easing.min.js"></script>

    <script>
        $(function() {
            "use strict"; // Start of use strict
        });

       function addFaq() {
           if($('#faqCategory').val() == "") {
               alert("Category을 입력해주세여.");
               return;
           }

           if($('#faqTitle').val() == "") {
               alert("Title을 입력해주세여.");
               return;
           }

           if($('#faqContent').val() == "") {
               alert("Content을 입력해주세여.");
               return;
           }

           let addForm = {
               "country":$('#country').val(),
               "category":$('#faqCategory').val(),
               "title": $('#faqTitle').val(),
               "content" : $('#faqContent').val()
           };

            console.log(addForm);

            postAjaxMethod('/faq', addForm, resultCall);
        }

        function resultCall (result) {
            location.href = '/faq/lists';
        }
    </script>

  </head>

  <body class="bg-dark">

    <div class="container">
      <div class="card card-register mx-auto">
        <div class="card-header">Register a FAQ</div>
        <div class="card-body">
          <form>
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="faqCategory" class="form-control" placeholder="Category" required="required" autofocus="autofocus">
                <label for="faqCategory">Category</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-label-group">
                <input type="text" id="faqTitle" class="form-control" placeholder="Question" required="required" autofocus="autofocus">
                <label for="faqTitle">Title</label>
              </div>
            </div>
            <div class="form-group">
              <div class="form-row">
                <textarea id="faqContent" class="form-control" style="width: 400px; height: 100px; resize: none;" placeholder="Answer"></textarea>
              </div>
            </div>
            <button class="btn btn-primary btn-block" type="button" data-dismiss="modal" onclick="addFaq();">저장</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
