<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../include/head.html', {}) %>
    <title><%= title %></title>
    <script>
        $(function() {
            "use strict"; // Start of use strict
            let userId = '<%= userId %>';
            let country = $('#country').val();
            console.log(userId);
            getAjaxMethod('/users/get/' + country + '/' + userId, renderDetail);
        });

        function renderDetail(data) {
            console.log(data);
            $('#userId').val(data.data._id);
            $('#inputID').val(data.data.userTag);
            $('#staffName').val(data.data.userName);
            $('#inputEmail').val(data.data.email);
            $('#staffPhone').val(data.data.phone);
            $('#staffId').val(data.data._id);
        }

        function modifyUser() {
            let updateForm = {};

            if($('#currentPassword').val() != "") {
                if($('#inputPassword').val() == "") {
                    alert('변경할 패스워드를 입력해주세여');
                    return;
                }

                if($('#inputPassword').val() != "" && $('#confirmPassword').val() == "") {
                    alert('변경할 패스워드를 한번 더 입력해주세여');
                    return;
                }

                if($('#inputPassword').val() != $('#confirmPassword').val()) {
                    alert('변경할 패스워드가 일치하지 않습니다. 다시 입력해주세여');
                    return;
                }

                updateForm = {
                    "id": $('#userId').val(),
                    "country": $('#country').val(),
                    "userTag": $("#inputID").val(),
                    "password": $('#inputPassword').val(),
                    "email": $("#inputEmail").val(),
                    "userName": $("#staffName").val(),
                    "phone": $("#staffPhone").val()
                };
            } else {
                updateForm = {
                    "id": $('#userId').val(),
                    "country": $('#country').val(),
                    "userTag": $("#inputID").val(),
                    "email": $("#inputEmail").val(),
                    "userName": $("#staffName").val(),
                    "phone": $("#staffPhone").val()
                };
            }

            console.log(updateForm);

            putAjaxMethod('/users/' + updateForm.id, updateForm, resultCall);
        }

        function resultCall (result) {
            location.href = '/users/lists';
        }
    </script>    
</head>
<body id="page-top">
        <%- include('../include/header.html', {}) %>
    
<div id="wrapper">
    <div class="menu-container">
        <%- include('../include/sidebar.html', {}) %>
    </div>

    <div id="content-wrapper">

        <div class="container-fluid">

            <!-- Breadcrumbs-->
            <ol class="breadcrumb">
                <li class="breadcrumb-item">
                    <a href="#">커뮤니티</a>
                </li>
                <li class="breadcrumb-item active">목록</li>
                <li style="margin-left: 5px;"><button class="btn btn-outline-info btn-sm" data-toggle="modal" data-target="#registerCommunityModal">커뮤니티 등록</button></li>
            </ol>
            <!-- 컨텐츠 -->
            <div class="card card-register mx-auto">
                <div class="card-header">커뮤니티 Detail</div>
                <div class="card-body">
                    <form>
                        <div class="form-group">
                            <select id="country" class="form-control">
                                <option value="KR">한국</option>
                                <option value="CN">중국</option>
                                <!--<option value="JP">일본</option>-->
                                <!--<option value="EN">영어</option>-->
                            </select>                        
                        </div>
                        <div class="form-group">
                          <div class="form-label-group">
                            <input type="hidden" id="userId">
                            <input type="email" id="inputID" class="form-control" placeholder="ID" required="required">
                            <label for="inputID">ID</label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-row">
                            <div class="col-md-6">
                              <div class="form-label-group">
                                <input type="text" id="staffName" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                                <label for="staffName">Name</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-label-group">
                                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="required">
                                <label for="inputEmail">Email address</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-label-group">
                            <input type="text" id="staffPhone" class="form-control" placeholder="First name" required="required" autofocus="autofocus">
                            <label for="staffPhone">Phone</label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-label-group">
                            <input type="password" id="currentPassword" class="form-control" placeholder="Current Password" required="required">
                            <label for="currentPassword">Current Password</label>
                          </div>
                        </div>
                        <div class="form-group">
                          <div class="form-row">
                            <div class="col-md-6">
                              <div class="form-label-group">
                                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="required">
                                <label for="inputPassword">Password</label>
                              </div>
                            </div>
                            <div class="col-md-6">
                              <div class="form-label-group">
                                <input type="password" id="confirmPassword" class="form-control" placeholder="Confirm password" required="required">
                                <label for="confirmPassword">Confirm password</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <a class="btn btn-primary btn-block" href="javascript:modifyUser();">저장</a>
                    </form>                    
                </div>
            </div>
            <!--// 컨텐츠 -->
        </div>
        <!-- /.container-fluid -->

        <!-- Sticky Footer -->
        <div class="footer-container">
            <%- include('../include/footer.html', {}) %>
        </div>

    </div>
    <!-- /.content-wrapper -->

</div>
<!-- /#wrapper -->

<!-- Logout Modal-->
<%- include('../include/modal_logout.html', {}) %>
    </body>
</html>